---
extends: eslint:recommended
parserOptions:
  ecmaFeatures:
    modules: true

env:
  es6: true
  browser: true
  node: true

rules:
  one-var: [2, "never"]
  #no-var: [2]
  prefer-const: [2]
  no-bitwise: [2]
